Esri_Trisoft_Download_Tool/Web References/PublicationOutput20/PublicationOutput20.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0">
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psDocId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutputFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLngCombination" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLMetaData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPublish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psDocId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutputFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLngCombination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPublishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelPublishResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPublishByIshLngRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plLngRef" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPublishByIshLngRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelPublishByIshLngRefResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psDocId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutputFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLngCombination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByIshLngRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plLngRef" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByIshLngRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteByIshLngRefResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMetaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psDocID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutputFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLngCombination" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequiredCurrentState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLMetadata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMetaDataResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMetaDataByIshLngRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plLngRef" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequiredCurrentState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLMetadata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMetaDataByIshLngRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMetaDataByIshLngRefResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Publish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psDocID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutputFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLngCombination" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutEventId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PublishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PublishResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutEventId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PublishByIshLngRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plLngRef" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutEventId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PublishByIshLngRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PublishByIshLngRefResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutEventId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Release">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psDocID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutputFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLngCombination" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReleaseResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseByIshLngRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plLngRef" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReleaseByIshLngRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReleaseByIshLngRefResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Find">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLMetadataFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequestedMetadata" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psDocID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutputFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLngCombination" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequestedMetadata" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaDataResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveMetaDataByIshLngRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLngRefs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequestedMetadata" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveMetaDataByIshLngRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveMetaDataByIshLngRefResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveMetaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psDocIDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="peStatusFilter" type="tns:eISHStatusgroup" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLMetadataFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequestedMetadata" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="eISHStatusgroup">
        <s:restriction base="s:string">
          <s:enumeration value="ISHReleasedStates" />
          <s:enumeration value="ISHReleasedOrDraftStates" />
          <s:enumeration value="ISHOutOfDateOrReleasedStates" />
          <s:enumeration value="ISHNoStatusFilter" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RetrieveMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveMetaDataResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psDocID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutputFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLngCombination" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportByIshLngRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plLngRef" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportByIshLngRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportByIshLngRefResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataObjectInfoByIshLngRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plLngRef" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLIshDataObject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataObjectInfoByIshLngRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataObjectInfoByIshLngRefResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLIshDataObject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextDataObjectChunkByIshLngRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plLngRef" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="psEdGUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plOffSet" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="piSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pbOutBytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextDataObjectChunkByIshLngRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNextDataObjectChunkByIshLngRefResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="plOffSet" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="piSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pbOutBytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="CancelPublishSoapIn">
    <wsdl:part name="parameters" element="tns:CancelPublish" />
  </wsdl:message>
  <wsdl:message name="CancelPublishSoapOut">
    <wsdl:part name="parameters" element="tns:CancelPublishResponse" />
  </wsdl:message>
  <wsdl:message name="CancelPublishByIshLngRefSoapIn">
    <wsdl:part name="parameters" element="tns:CancelPublishByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="CancelPublishByIshLngRefSoapOut">
    <wsdl:part name="parameters" element="tns:CancelPublishByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteByIshLngRefSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DeleteByIshLngRefSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="SetMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetMetaData" />
  </wsdl:message>
  <wsdl:message name="SetMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="SetMetaDataByIshLngRefSoapIn">
    <wsdl:part name="parameters" element="tns:SetMetaDataByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="SetMetaDataByIshLngRefSoapOut">
    <wsdl:part name="parameters" element="tns:SetMetaDataByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublishSoapIn">
    <wsdl:part name="parameters" element="tns:Publish" />
  </wsdl:message>
  <wsdl:message name="PublishSoapOut">
    <wsdl:part name="parameters" element="tns:PublishResponse" />
  </wsdl:message>
  <wsdl:message name="PublishByIshLngRefSoapIn">
    <wsdl:part name="parameters" element="tns:PublishByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublishByIshLngRefSoapOut">
    <wsdl:part name="parameters" element="tns:PublishByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="ReleaseSoapIn">
    <wsdl:part name="parameters" element="tns:Release" />
  </wsdl:message>
  <wsdl:message name="ReleaseSoapOut">
    <wsdl:part name="parameters" element="tns:ReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="ReleaseByIshLngRefSoapIn">
    <wsdl:part name="parameters" element="tns:ReleaseByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="ReleaseByIshLngRefSoapOut">
    <wsdl:part name="parameters" element="tns:ReleaseByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="FindSoapIn">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="FindSoapOut">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaData" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveMetaDataByIshLngRefSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveMetaDataByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="RetrieveMetaDataByIshLngRefSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveMetaDataByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveMetaData" />
  </wsdl:message>
  <wsdl:message name="RetrieveMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="GetReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportByIshLngRefSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="GetReportByIshLngRefSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataObjectInfoByIshLngRefSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataObjectInfoByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="GetDataObjectInfoByIshLngRefSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataObjectInfoByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextDataObjectChunkByIshLngRefSoapIn">
    <wsdl:part name="parameters" element="tns:GetNextDataObjectChunkByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="GetNextDataObjectChunkByIshLngRefSoapOut">
    <wsdl:part name="parameters" element="tns:GetNextDataObjectChunkByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:portType name="PublicationOutput20Soap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelPublish">
      <wsdl:input message="tns:CancelPublishSoapIn" />
      <wsdl:output message="tns:CancelPublishSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelPublishByIshLngRef">
      <wsdl:input message="tns:CancelPublishByIshLngRefSoapIn" />
      <wsdl:output message="tns:CancelPublishByIshLngRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByIshLngRef">
      <wsdl:input message="tns:DeleteByIshLngRefSoapIn" />
      <wsdl:output message="tns:DeleteByIshLngRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMetaData">
      <wsdl:input message="tns:SetMetaDataSoapIn" />
      <wsdl:output message="tns:SetMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMetaDataByIshLngRef">
      <wsdl:input message="tns:SetMetaDataByIshLngRefSoapIn" />
      <wsdl:output message="tns:SetMetaDataByIshLngRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Publish">
      <wsdl:input message="tns:PublishSoapIn" />
      <wsdl:output message="tns:PublishSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PublishByIshLngRef">
      <wsdl:input message="tns:PublishByIshLngRefSoapIn" />
      <wsdl:output message="tns:PublishByIshLngRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Release">
      <wsdl:input message="tns:ReleaseSoapIn" />
      <wsdl:output message="tns:ReleaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseByIshLngRef">
      <wsdl:input message="tns:ReleaseByIshLngRefSoapIn" />
      <wsdl:output message="tns:ReleaseByIshLngRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input message="tns:FindSoapIn" />
      <wsdl:output message="tns:FindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <wsdl:input message="tns:GetMetaDataSoapIn" />
      <wsdl:output message="tns:GetMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetaDataByIshLngRef">
      <wsdl:input message="tns:RetrieveMetaDataByIshLngRefSoapIn" />
      <wsdl:output message="tns:RetrieveMetaDataByIshLngRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetaData">
      <wsdl:input message="tns:RetrieveMetaDataSoapIn" />
      <wsdl:output message="tns:RetrieveMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <wsdl:input message="tns:GetReportSoapIn" />
      <wsdl:output message="tns:GetReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportByIshLngRef">
      <wsdl:input message="tns:GetReportByIshLngRefSoapIn" />
      <wsdl:output message="tns:GetReportByIshLngRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataObjectInfoByIshLngRef">
      <wsdl:input message="tns:GetDataObjectInfoByIshLngRefSoapIn" />
      <wsdl:output message="tns:GetDataObjectInfoByIshLngRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDataObjectChunkByIshLngRef">
      <wsdl:input message="tns:GetNextDataObjectChunkByIshLngRefSoapIn" />
      <wsdl:output message="tns:GetNextDataObjectChunkByIshLngRefSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublicationOutput20Soap" type="tns:PublicationOutput20Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPublish">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/CancelPublish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPublishByIshLngRef">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/CancelPublishByIshLngRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByIshLngRef">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/DeleteByIshLngRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMetaData">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/SetMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMetaDataByIshLngRef">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/SetMetaDataByIshLngRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Publish">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Publish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishByIshLngRef">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/PublishByIshLngRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Release">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Release" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseByIshLngRef">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/ReleaseByIshLngRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetaDataByIshLngRef">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/RetrieveMetaDataByIshLngRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetaData">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/RetrieveMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportByIshLngRef">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetReportByIshLngRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataObjectInfoByIshLngRef">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetDataObjectInfoByIshLngRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDataObjectChunkByIshLngRef">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetNextDataObjectChunkByIshLngRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PublicationOutput20Soap12" type="tns:PublicationOutput20Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPublish">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/CancelPublish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPublishByIshLngRef">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/CancelPublishByIshLngRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByIshLngRef">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/DeleteByIshLngRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMetaData">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/SetMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMetaDataByIshLngRef">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/SetMetaDataByIshLngRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Publish">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Publish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishByIshLngRef">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/PublishByIshLngRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Release">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Release" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseByIshLngRef">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/ReleaseByIshLngRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/Find" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetaDataByIshLngRef">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/RetrieveMetaDataByIshLngRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetaData">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/RetrieveMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportByIshLngRef">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetReportByIshLngRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataObjectInfoByIshLngRef">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetDataObjectInfoByIshLngRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDataObjectChunkByIshLngRef">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:PublicationOutput:2.0/GetNextDataObjectChunkByIshLngRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicationOutput20">
    <wsdl:port name="PublicationOutput20Soap" binding="tns:PublicationOutput20Soap">
      <soap:address location="http://trisoftcms4/infoshareWS/PublicationOutput20.asmx" />
    </wsdl:port>
    <wsdl:port name="PublicationOutput20Soap12" binding="tns:PublicationOutput20Soap12">
      <soap12:address location="http://trisoftcms4/infoshareWS/PublicationOutput20.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>